
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px 9px 2px 9px;
}
nav{
    position:sticky;
    top: 0;
    margin:0px;
}
.inner_text{
    padding: 8px 16px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
.left_content {
    font-size: 1rem;
    letter-spacing: 4px;
    font-family: Verdana,sans-serif;
    text-shadow: 2px 2px 2px lightblue;
    padding: 8px 16px;
    margin: 0px;
}
.right_content{
    
    font-size: 1rem;
    font-family:Verdana,sans-serif; 
    margin: 5px;
    
}
a{
    padding: 10px;
    text-decoration: none;
}

/* Main Image Section */
.main_img {
    display: flex;
    width: 100%;
    justify-content: center;
}
.BrArchitect{
    position: absolute;
    top: 60%;
    left: 50%;
}
.spanWordImageBR{
    background-color: rgba(0, 0, 0, 0.388);
    color: #fff;
    padding: 9px;
    font-family:Verdana,sans-serif; 
}
.spanWordImageAr{
    color: #fff;
    font-family:Verdana,sans-serif; 
}

/* Project Section */
.projects {
    display: flex;
    flex-direction: column;
    margin: 15px 5px 15px 10px;

}
h2{
    margin: 5px;
    font-size: 2rem;
    
}
.img-container {
    display: flex;
    width: 100%;
}
.img-item img{
    margin: 25px;
    height: 300px;
    width: 300px;  
}

 
/* About Section */
.About{
    margin:15px 5px 15px 10px;
    display: flex;
    flex-direction: column;
}
.About h2{
    font-size: 2rem;
}
.about_p{
    padding: 5px;
    font-size: 20px;
}
.employee-img-container{
    display: flex;
    margin: 25px 15px 15px 15px;
    column-gap: 15px;
    
}
.employee-img-item{
    justify-content: center;
   
}
.employee-img-item img{
    height: 250px;
    width:350px;
}

/* Contact Form */
.contact form{
    margin:0 auto;
    max-width: fit-content;
    text-align: center;
 }
 
 .contact form h3{
    font-size: 25px;
    text-transform: uppercase;
 }
 .contact form .box{
    margin:1rem 0;
    width: 100%;
    border:1px solid black;
    padding:0.5rem 1rem;
    font-size: 20px; 
 }
 .submit{
    font-size: 0.75rem;
    padding:1rem 1rem;
    color: #fff;
    background-color: #000;  
 }

 /* Footer */
 footer{
    background: black;
    color: white;
    padding: 9px 20px;
    margin: 5px 0px 0px 0px;
}
.center{
    text-align: center;
}